<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16841073?query=java%20Odessa">Senior Java Developer (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16946043?query=java%20Odessa">Middle / Senior Java developer</a></td> 
     <td class="city">Канада</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16843720?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16841309?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16330443?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17023388?query=java%20Odessa">Automation QA&nbsp;Engineer for Team Online</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17016290?query=java%20Odessa">Android developer (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16991128?query=java%20Odessa">Junior Technical Implementation Consultant</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/15362094?query=java%20Odessa">Senior Automation Tests Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16891939?query=java%20Odessa">Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Джаст</td> 
     <td class="salary">от 1&nbsp;300 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16841263?query=java%20Odessa">QA Automation Engineer for a Web application security project</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16842935?query=java%20Odessa">Ruby on Rails Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16841438?query=java%20Odessa">Configuration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16709450?query=java%20Odessa">Senior JavaScript</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17034472?query=java%20Odessa">Водитель Такси</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Зевс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17034468?query=java%20Odessa">Водитель такси (со своим авто)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Зевс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16759497?query=java%20Odessa">Full stack Android Developer / Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Crypviser GmbH</td> 
     <td class="salary">от 1&nbsp;000 EUR</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/17009950?query=java%20Odessa">QA Automation Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary">от 2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16633507?query=java%20Odessa">Системный администратор</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16918850?query=java%20Odessa">Automation QA Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">KM Ware</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/16805551?query=java%20Odessa">Веб-программист/ верстальщик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Сайтс</td> 
     <td class="salary">500-1&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020197">Преподаватель Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024967">Java Junior</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025562">Java developer</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026111">Senior Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020941">Senior java developer</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025774">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026145">Java программист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024705">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">PhinikStudio</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025996">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AVATAR</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026046">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Touch Bank</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999999168">Java Software developer (Java Программист)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HireRight Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025885">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО АКБ "Авангард"</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026018">Java to Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024918">JAVA-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Crocodie</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024651">Программист Java</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Gehtsoft</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025964">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бигл</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025930">Ведущий Java программист / тимлид</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026153">Разработчик Java Backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Voximplant</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024376">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО Транс-ИТ</td> 
     <td class="salary">От 120 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026115">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 2 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024967">Java Junior</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025562">Java developer</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020197">Преподаватель Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020941">Senior java developer</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026111">Senior Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026145">Java программист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025774">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024705">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">PhinikStudio</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025996">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AVATAR</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026046">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Touch Bank</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999999168">Java Software developer (Java Программист)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HireRight Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025885">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО АКБ "Авангард"</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026018">Java to Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024918">JAVA-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Crocodie</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024651">Программист Java</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Gehtsoft</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025964">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бигл</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025930">Ведущий Java программист / тимлид</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026153">Разработчик Java Backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Voximplant</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024376">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО Транс-ИТ</td> 
     <td class="salary">От 120 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026115">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 2 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024148">Ведущий программист Java</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 24</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025872">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">UseTech Integration</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013803">Scala или Java разработчик / Scala or Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020239">Senior Scala/Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Adlabs FSE</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026017">Middle Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Loyalty Plant</td> 
     <td class="salary">От 60 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025675">Senior/ middle java разработчик</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">АНКОР Высокие Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026079">Scala/Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Society Laboratory (DSL)</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025598">Ведущий Scala/Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Society Laboratory (DSL)</td> 
     <td class="salary">От 130 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025800">Software developer (Java)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Plesk</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025734">Ведущий разработчик Java [reward for referrals 50k RUB]</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NPBFX</td> 
     <td class="salary">От 120 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025974">Разработчик Android</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Taximeta LLC</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025833">Senior Java EE Developer / Team Leader</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">SimpITy Ltd.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026020">Android+Java разработчик в американский Ai-стартап</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026105">Аналитик-математик</a></td> 
     <td class="city"></td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025652">Тестирование ПО</a></td> 
     <td class="city"></td> 
     <td class="companyName">Новые Облачные Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026052">Senior QA automation engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025763">Senior Android Developer / Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bookmate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024551">Go-developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025939">Android - Разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025869">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024464">Android-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 70 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025905">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Minimum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026146">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Новая Медицина"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026146">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Новая Медицина"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026126">Senior Android Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Social Discovery Ventures</td> 
     <td class="salary">От 2 500 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025933">Разработчик мобильных приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025582">Senior Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FutureComes</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026084">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Рестрим"</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025693">Программист-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Сипиэй медиа</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022902">Android-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magtoapp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025632">Software Engineer / Инженер-программист</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023604">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МДМ/БИНБАНК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026066">Team Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сервис GrowFood</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025624">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025931">Разработчик мобильных приложений для IOS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025897">Разработчик HTML5 мобильных приложений (Phonegap, Cordova)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EasyFinance</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025714">Team Lead/CTO в американский Ai-стартап</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026121">Бэкенд/Мобильный/Десктоп разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">NetGon Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025746">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Перформикс"</td> 
     <td class="salary">От 120 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026077">Разработчик мобильных приложений</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets</td> 
     <td class="salary">От 35 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025324">Mobile Intern</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Handsome</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025916">Web-программист</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">"WoodCraft"</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024338">Senior Android architect</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024343">Senior Android engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021404">Разработчик Android</a></td> 
     <td class="city">Франкфурт ам Майн</td> 
     <td class="companyName">Confabs</td> 
     <td class="salary">От 3 000 до 4 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026064">Android - разработчик</a></td> 
     <td class="city">Великий Новгород</td> 
     <td class="companyName">Аппликатура</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025816">Руководитель группы тестирования</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО Транс-ИТ</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026125">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Trucker Path</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026119">Backend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BeGet</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025513">IT Solutions / Products Engineer</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">International Logistics Company</td> 
     <td class="salary">От 0 до 500 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025541">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Кватро-ПРО</td> 
     <td class="salary">От 0 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025707">Ведущий Android разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">iTrend</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026150">ColdFusion разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025537">Android developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Arello Mobile</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026056">QA инженер / тестировщик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АЛОЛЬ</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000006053">Ведущий Flash разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ALISA Gaming</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/118528416">Разработчик iOS/Mac</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">UNIQ systems</td> 
     <td class="salary">От 70 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020337">Perl-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">220 Вольт</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/956266949">Разработчик Ruby</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">UNIQ systems</td> 
     <td class="salary">От 70 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025149">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Superjob</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026021">Fullstack программист PHP / Python</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Stellarbit</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025785">Junior PHP Developer (Программист)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">МАДЖЕСТИ</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023608">Automated QA Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">United Traders</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024176">​Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Excursiopedia.com</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025784">Middle PHP Developer (Программист)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">МАДЖЕСТИ</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023377">BI разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026000">Старший Web разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025906">UX/UI дизайнер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Heaven 11</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025572">PHP-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026095">Разработчик Python/Asyncio</a></td> 
     <td class="city"></td> 
     <td class="companyName">Девхаб</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>